<h1>Bienvenue sur le merveilleux site des recettes @Marmiton</h1>
<ul>
<li><a href="/recipes">Liste des recettes</a></li>
<li><a href="/recipes/new"> Ajouter une nouvelle recette</a></li>
<li><a href="/marmiton"> Fetcher de nouvelles recettes @Marmiton</a></li>
</ul>
