<h1>Bonjour et bienvenue, pro des fourneaux !</h1>
Quelle est le type de recette que vous souhaitez ajouter aujourd'hui ?
<form action='/marmiton/fetch' method='post' style="margin-top:5px">
<input name="type_recette" type="text">
<button method="post">Miam !</button>
</form>
<br>
<a href="/">Retour à la page d'accueil</a>
