<form action="/recipes/done" method="post">
  <p>Nom : <input name="name" type="text" style="position:absolute; left:120px"></p>
  <p>Description : <input name="description" type="text" style="position:absolute; left:120px"><br></p>
  <button type="submit" style="position:absolute; left:50px">Créer une nouvelle recette</button>
</form>

